[Unit]
Description=ydotool daemon (Wayland auto input)

[Service]
ExecStart=/usr/bin/ydotoold --socket-path=%t/.ydotool_socket
Restart=on-failure

[Install]
WantedBy=default.target
